.item{
    width:290px;
}
.item p{
    margin:4px 0px;

}
.item img{
    width:100%;
}
.item-price{
    display:flex;
    gap:20px;
}
.price-new{
    color:#374515;
    font-size:18px;
    font-weight:600;
}
.price-old{
    color:#8c8c8c;
    font-size:18px;
    font-weight:600;
    text-decoration:line-through;
}
.item:hover{
    transform:scale(1.05);
    transition:.6s;
}